* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 870px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 1.25rem 0;
  border-radius: 5px;
}

.section-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #562eff;
  margin-bottom: 1.875rem;
  padding: 1.875rem 1.875rem 0;
}

/* header style start */
header {
  background-color: #562eff;
}

nav {
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 2.5rem 0;
}

.top-container {
  width: 870px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 40.42px;
  height: 51px;
}

.logo span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #fff;
  padding-left: 0.9375rem;
}

.menu ul {
  display: flex;
  align-items: center;
}
.menu ul li {
  list-style: none;
  padding-right: 2.25rem;
}

.menu ul li:last-child {
  padding-right: 0;
}

.menu ul li a {
  text-decoration: none;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 400;
}

.menu ul li img {
  width: 51px;
  height: 51px;
}

/* header style end */

/* player section style start */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 0 1.875rem 1.875rem;
}

hr {
  border: 1px solid #d1d1d1;
}

.single-player {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.player-avater img {
  width: 56px;
  height: 56px;
  margin-right: 1rem;
}

.player-name h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #000;
}
/* player section style end */

/* blog style start */
.blog-avater img {
  width: 177px;
  height: 117px;
  margin-right: 1.25rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 0 1.875rem 1.875rem;
}

.single-blog {
  display: flex;
  align-items: center;
}

.blog-content h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.125rem;
  color: #000000;
}

.blog-content a {
  text-decoration: none;
}
.blog-content span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #562eff;
}
/* blog style end */

/* course section style start */
.course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 0 1.875rem 1.875rem;
}
.course-image img {
  width: 224.38px;
  height: 105.51px;
}

.course-details h3 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #1e1e1e;
  margin-bottom: 0.9375rem;
}

.course-details p {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1rem;
  color: #ed6b4f;
}
.course-duration {
  display: flex;
  align-items: center;
}

.course-icon {
  margin-right: 1.5rem;
}

.course-icon .gold {
  color: #ffc014;
}

.course-icon .empty {
  color: #aeaeae;
  opacity: 0.25;
}

.course-schedule {
  background-color: #fee5df;
  color: #ff4a60;
  border-radius: 15px;
  padding: 0.3125rem;
}
/* course section style end */

/* ---------------Responsiveness Start----------------- */
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }

  .top-container {
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    text-align: center;
  }

  .logo {
    display: flex;
    padding-left: 0;
    margin-bottom: 1.25rem;
  }

  .logo span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 36px;
    color: #fff;
    padding-left: 0.9375rem;
  }
  .menu {
    padding-left: 0;
  }
  .menu ul li {
    margin-bottom: 0.625rem;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .player-avater img {
    margin-right: 0.3125rem;
  }

  .blog {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog-avater img {
    margin-right: 1rem;
  }

  .blog,
  .course {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .course-duration {
    justify-content: center;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 100%;
  }

  .top-container {
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    text-align: center;
  }

  .logo {
    display: flex;
    padding-left: 0;
    margin-bottom: 1.25rem;
  }
  .menu {
    padding-left: 0;
  }

  .menu ul li {
    margin-bottom: 0.625rem;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog,
  .course {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-avater img {
    margin-right: 1rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 100%;
  }

  .top-container {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    padding-left: 0;
    margin-bottom: 1.25rem;
  }
  .menu {
    padding-left: 0;
  }

  .menu ul li {
    margin-bottom: 0.625rem;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog,
  .course {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .course-schedule {
    padding: 0.3125rem;
  }
}

/* ----------Responsiveness End----------------- */
